---
layout: compress
---

<!doctype html>
<html lang="en" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    <div id="main" role="main">
      {% unless page.author_profile == false %}
        {% include sidebar.html %}
      {% endunless %}
      
      {% if page.i_banner == true %}
        <div class="top-carousel-container">
          <div class="top-carousel">
            <div class="top-slide active">
              <img src="images/sysdt.png" alt="轮播图1">
            </div>
            <div class="top-slide">
              <img src="images/zy.png" alt="轮播图2">
            </div>
        
            <button class="top-carousel-btn prev">&#10094;</button>
            <button class="top-carousel-btn next">&#10095;</button>
          </div>
        </div>
      {% endif %}
      <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
        {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
        <div class="page__inner-wrap">
          <section class="page__content" itemprop="text">
            {{ content }}
          </section>
        </div>
      </article>
    </div>

    {% include scripts.html %}

  </body>
</html>
